@charset "UTF-8";
#deviceImg {
	height: 280px;
}

body {
	background-color : #333;
}

.page-header.main-page {
	color : #eee;
}

.page-header.view-page {
	color : #eee;
}

.table {
	background-color : #eee;
}