<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tm.iot.dao.DashboardDao">
	<select id="selectList" resultType="Dashboard">
		select device_code, device_name, sensor_type, sensor_value, sensor_units, device_state, auto_mode, reg_date
		from
		(
			select d.device_code, d.device_name, s.sensor_type, i.sensor_value, sensor_units, device_state, auto_mode, reg_date, 
    			row_number() over(partition by i.device_code order by reg_date desc) rn
			from sensor s, device d, iot_data i
    		where s.sensor_code = i.sensor_code and d.device_code = i.device_code
		)
		where rn = 1 or rn = 2 and device_code = 4
	</select>
	
	<select id="selectDetailList" parameterType="int" resultType="Dashboard">
		select device_name, sensor_type, sensor_value, sensor_units, device_state, auto_mode, reg_date
		from
		(
			select d.device_name, s.sensor_type, i.sensor_value, sensor_units, device_state, auto_mode, reg_date, 
    			row_number() over(partition by i.device_code order by reg_date desc) rn
			from sensor s, device d, iot_data i
    		where s.sensor_code = i.sensor_code and d.device_code = i.device_code and i.device_code = #{deviceCode}
		)
		where rn between 1 and 15
	</select>
</mapper>