<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tm.iot.dao.DeviceDao">
	<select id="selectList" resultType="Device">
		select a.device_code, a.device_value, a.device_time
		from device a, device b
		group by a.device_code, a.device_value, a.device_time having a.device_time = max(b.device_time)
	</select>
	
	<select id="selectDeviceDetail" parameterType="String" resultType="Device">
		select * from device
		where device_code = #{device_code}
	</select>

</mapper>